/*
-------------
CSS
-------------
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


html

{      
font-family: "Raleway";
}

a

{
text-decoration: none;
}

.boxshadow

{
box-shadow: 0 0 20px #4241412e;
}

/*
-------------
Header 


Logo et Nav
-------------
*/

.logoetnav

{
display: flex;
justify-content: space-between;
width: 90%;
}

.logo

{
margin-left: 12%;
margin-block-start: 25px;
}

nav

{
font-size: 16px;
}

.menu

{
display: flex;
flex-direction: row;
}

.menuhebergements

{
border-top: 2px solid transparent;
padding-top: 40px;
color: #0065FC;
width: 150px;
text-align: center
}

.menuactivites

{
border-top: 2px solid transparent;
color: black;
padding-top: 40px;
width: 150px;
text-align: center
}

.menusinscrire

{
color: #0065FC;
border-top: 2px solid transparent;
padding-top: 40px;
width: 150px;
text-align: center
}

/*
-------------
Titre et description
-------------
*/

.trouvezhebergements

{
margin-left: 10%;
}

.descriptionhebergements

{
margin-left: 10%;
}

/*
-------------
Barre de recherche
-------------
*/

.barresearch

{
display: flex;
justify-content: flex-start;
margin-left: 10%;
margin-block: 20px;
}

.iconemap

{
border-width: 2px;
border: solid;
padding: 12px;
border-radius: 15px 0px 0px 15px;
background-color: #f2f2f2;
border-color:#f2f2f2;
}

input[type="search"]

{
width: 240px;
border-style: solid;
border-color: #f2f2f2;
font-weight: bold;
text-decoration: black;
}

.boutonrechercher

{
border-width: 2px;
border-style: solid;
border-color:#0065fc;
border-radius: 0px 20px 20px 0px;
padding: 12px;
background-color:#0065fc;
color: white;
font-weight: bold;
width: 100px;
}

#searchsmall

{
display: none;

}

/*
-------------
Filtres
-------------
*/

.filtreseticones

{
display: flex;
justify-content: flex-start;
}


.filtres

{
margin-left: 10%;
font-size: 18px;
font-weight: bold;
margin-block-start: 12px;
margin-right: 30px;
}

.iconesfiltres

{
 
display: flex;
justify-content: flex-start;
}

.contouriconesettitres

{
border-width: 2px;
border-style: solid;
border-color: #f2f2f2;
border-radius: 100px 100px 100px 100px; 
margin-right: 20px;
}

.logoinfo

{
    border-width: 1px;
    border-style: solid;
    border-color: #807e7e;
    border-radius: 100px 100px 100px 100px; 
    padding: 8px;
    color: #0065FC;
    background-color: #ffffff;
    font-size: 10px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    align-items: center;
    display: flex;
}

.iconecolor

{
border-width: 5px;
border-style: solid;
border-color: #deebff;
border-radius: 100px 100px 100px 100px; 
padding: 10px;
color: #0065FC;
background-color: #deebff;
font-size: 20px;
margin-right: 10px;
}

.titresdesfiltres

{
margin-right: 20px;
font-size: 18px;
font-weight: bold;
color: black;
}

/*
-------------

-------------
*/

i[class="fas fa-info"]

{
font-size: 20px;

}

.info

{
margin-left: 10%;
margin-block: 40px;
display: flex;
}

.texteinfo
{
font-size: 15px;
display: flex;   
}

/*
-------------

-------------
*/

.blockhebergementetpopulaires

{
display: flex;
flex-wrap: wrap;
}

/*
-------------
Hébergements à Marseille
-------------
*/

.hebergements

{
background-color: #F2F2F2;
display: flex;
flex-wrap: wrap;
width: 50%;
height: auto; 
margin-left: 10%;
border-radius: 20px 20px 20px 20px;
}

.hebergements-titre

{
display: flex;
margin-block-start: 50px;
align-items: flex-start;
margin-left: 40px;
font-size: 20px;
}


.blockhebergements

{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-block-start: -20px;
align-content: space-between;
}

.blockhotel

{
background-color: white;
border-radius: 20px 20px 20px 20px;
border:5px solid white;
width: 30%;
height: 200px;
}

.image

{
width: 100%;           
height: 120px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

.nomdeshotels

{      
text-decoration: none;
font-size: 16px;  
margin-left: 15px;
color: black;   
font-weight: bold;   
margin-block-start: 15px;
}

.tarifs

{        
text-align: left;
font-size: 14px;
text-decoration: none;
margin-left: 15px;
color: rgb(0, 0, 0);
margin-block-start: 7px;
}

.bold

{
font-weight: bold;
}

.star

{
margin-left: 15px;
display: flex;
letter-spacing: 0px;
margin-block-start: 8px;
}

.blue-star

{
color:  #0065FC;
font-size: 12px;
}

.gray-star

{
color: #58575734;
font-size: 12px;
}

.afficherplus

{
margin-left: 40px;
margin-block-start: 30px;
font-weight: bold;
}

.boutonafficher

{
color: black;
}

/*
-------------
Les plus polulaires
-------------
*/

.populaires

{
background-color: #F2F2F2;
display: flex;
flex-wrap: wrap;
width: 25%;
height: auto; 
margin-left: 40px;
padding: 15px;
border-radius: 20px 20px 20px 20px;
}

.populaires-titre

{
display: flex;
margin-block-start: 30px;
margin-left: 30px;
font-size: 20px;
font-weight: bold;
}

.icopopulaires

{
display: flex;
margin-block-start: 30px;
justify-content: end;
font-size: 25px;
margin-left: auto;
}

.blockpopulaires

{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: space-between;
margin-block-end: 20px;
}

.blockhotelspopulaires

{
background-color: white;
border-radius: 20px 20px 20px 20px;
border: 5px solid white;
width: 80%;

height: auto;
margin: inherit;
}

.imagepopulaires

{

margin-block-start: -15px;
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 20px 0px 0px 20px;
float: left;
}

.nomdeshotelspopulaires

{      
text-decoration: none;
font-size: 16px;  
margin-left: 155px;
color: black;   
font-weight: bold;   
margin-block-start: 15px;
}

.tarifspopulaires

{        
text-align: left;
font-size: 14px;
text-decoration: none;
margin-left: 15px;
color: rgb(0, 0, 0);
margin-block-start: 7px;
margin-left:155px;
}

.starpopulaires

{
display: flex;
margin-left: 155px;
letter-spacing: 0px;
margin-block-start: 50px;
}

/*
-------------
Activités à Marseille
-------------
*/

.activites

{
background-color: white;
display: flex;
flex-wrap: wrap;
width: 80%;
height: 620px; 
margin-left: 10%;
margin-block-start: 50px;
border-radius: 20px 20px 20px 20px;
}

.blockdesactivites

{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;;
    width: 90%;
    height: auto;
}

.blockvieuxport

{

display: flex;
flex-direction: column;
height: 450px;
width: 300px;
border-radius: 20px 20px 20px 20px;
background-color: white;
}

.imagesactivites1

{
height: 400px;
width: 300px;
border-style: solid;
border-radius: 20px 20px 0px 0px;
object-fit: cover;
border:0px solid transparent;
}

.blockfortetiles

{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
height: 450px;
margin-left: 20px;
margin-right: 20px;
}

.blockfort

{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 250px; 
}

.imagesactivites2

{width: 300px;;      
    border-style: solid;
 
    height: 200px;
    object-fit: cover;      
    border-radius: 20px 20px 0 0;
    border:0px solid transparent;
    

}

.blockiles

{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 170px;
}

.imagesactivites3

{width: 300px;;      
    border-style: solid;
    height: 120px;
    object-fit: cover;      
    border-radius: 20px 20px 0 0;
   
    border:0px solid transparent;
}


.blockparc

{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-right: 20px;
}

.imagesactivites4
{
    height: 400px;
    width: 300px;
    border-style: solid;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border:0px solid transparent;
    }

.blocknotredameetlongchamp

{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
height: 450px;
}

.blocknotredame

{
display: flex;
width: 300px;
flex-direction: column;
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 200px;
}

.imagesactivites5

{
width: 300px;;      
border:0px solid transparent;      
height: 150px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

.blocklongchamp

{
display: flex;
width: 300px;
flex-direction: column;
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 200px;
}

.imagesactivites6

{
width: 300px;;      
border: 0px solid transparent;      
height: 150px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

/*
-------------
Footer
-------------
*/

footer

{
margin-left: 10%; 
width: 80%;
height: 10%;
background-color:rgba(44, 40, 40, 0.082);
}

.allblockfooter

{
display: flex;
width: 80%;
height: 10%;
flex-direction: row;
margin-left: 2%;
}

.blockfooter

{
flex-direction: column;
display: flex;
margin-right: 15%;
justify-content: flex-start;
line-height: 30px;
padding: 10px;
color: black;
}

.titrefooter

{
font-size: 18px ;
}


.colonnefooter

{
flex-direction: column;
display: flex;
}

.textefooter

{
color: black;
}

/*
-------------
Animations
-------------
*/

.contouriconesettitres:hover

{
background-color: #deebff;
transform: scale(1.1);
}

.blockhotel:hover

{
transform: scale(1.1);
}

.menuactivites:hover

{
border-top: 2px solid #0065FC;
}

.menuhebergements:hover

{
border-top: 2px solid #0065FC;
}

.menusinscrire:hover

{
border-top: 2px solid #0065FC;
}

.blockhotelspopulaires:hover

{
transform: scale(1.1);
}

.blockvieuxport:hover

{
transform: scale(1.1);
}

.blockfort:hover

{
transform: scale(1.1); 
}

.blockiles:hover

{
transform: scale(1.1);
}
   
.blockparc:hover

{
transform: scale(1.1);
}

.blocknotredame:hover

{
transform: scale(1.1);
}

.blocklongchamp:hover

{
transform: scale(1.1);
}

/*
-------------
Responsive
-------------
*/


  @media screen and (max-width: 800px)


  {
    footer {
    min-width: 350px;
}


   .hebergements
   {
   background-color: transparent;
   flex-direction: column;
   width: 94%;
   margin-left: 5%;
   }

   .blockhotel
   {
   width: 90%;
   height: 200px;
   margin-block-start: 20px;
   }

   .blockhebergementetpopulaires
   {
   display: flex;
   flex-direction: column-reverse;
   }

   .allblockfooter
   {
   display: flex;
   flex-direction: column;
   margin-left: 20%;
   }

   .populaires
   {
   width: 90%;
   height: auto;
   margin-left: 2%;
   border-radius: 0px 0px 0px 0px;
   }

   .iconesfiltres
   {
   flex-direction: column;
   margin-block-start: 20px;
   margin-left: 10%;
   }

   .filtreseticones
   {
    flex-wrap: wrap;
   }

   .hebergements-titre
   { 
   margin-block-start: 20px;
   margin-left: 0px;
   font-size: x-large;
   }

   .blockhebergements
   {
      flex-direction: column;
      margin-block-start: 0px;
   }

   .blockhotelspopulaires
   {
   width: 100%;
   }

   .imagepopulaires

   {
   width: 130px;
   height: 140px;  
   }

footer
{ 
   margin-left: 0%;
   width: 100%;
   height: 10%;
   margin-block-start: 20px;
  }

.blockfooter
  {
   margin-right: 0%;

  }

}

@media screen and (min-width: 1280px) and (max-width: 1800px)
{

    footer  
{ 
    margin-block-start: 12%;

}

.blockvieuxport
{
margin-left: 5%;
}

.blocknotredame 
{
    width: 500px;  
    margin-right: 20%;
}

.imagesactivites5 {
    width: 500px;
   
}

.imagesactivites6 {
    width: 500px;
   
}
.blocklongchamp {
    width: 500px;  
}
.blocknotredameetlongchamp {
    display: flex;
    flex-direction: row;
    margin-block-start: 50px;
}
.activites {
    width: auto;
  }

}

@media screen and (min-width: 1080px) and (max-width: 1500px)
{

    .activites {
      width: auto;
    }
.blocknotredame 
{
    width: 350px;  
    margin-right: 20%;
}

.imagesactivites5 {
    width: 350px;
   
}

.imagesactivites6 {
    width: 350px;
   
}
.blocklongchamp {
    width: 350px;  

}


 }
 @media screen and (min-width: 1500px) and (max-width: 1800px)
 {
 .blocknotredame 
 {
     width: 500px;  
     margin-right: 20%;
 }
 
 .imagesactivites5 {
     width: 500px;
    
 }
 
 .imagesactivites6 {
     width: 500px;
    
 }
 .blocklongchamp {
     width: 500px;  
 
 }
 
 
  }

  @media screen and (max-width: 1440px)

  {
  
      .activites {
     width: auto;
      }
  }

@media screen and (min-width: 800px) and (max-width: 1440px)

{

    .afficherplus {
        font-size: 30px;
    }
    .hebergements-titre {
        font-size: 30px;
    }
    .populaires-titre {
        font-size: 30px;
    }
    .hebergements{
        width: 92%;
        margin-left: 5%;
    }
    .populaires {
        width: 89%;
        margin-left: 5%;
        margin-block-start: 50px;
    }
    .blockhotel {
        margin-block-start: 30px;
    }

}

@media screen and (min-width: 1920px)

{
    .afficherplus {
        font-size: 23px;
    }
    .blockhebergements
    {
    margin-left: 5%
}

}

@media screen and (max-width: 800px)
{
   

    .activites

    {
    height: auto; 
    margin-left: 5%;
    }

    .blockdesactivites
    {
    flex-direction: column;
    align-items: center;
    }

.blockvieuxport
{
 width: 350px;
 height: 250px;
 margin-block-start: 20px;
}

.imagesactivites1
{
 width: 350px;
 height: 200px;
}

.blockfortetiles
{
 width: auto;
 height: auto;
 margin-left: 0px;
 justify-content: space-evenly;
 margin-left: 0px;
 margin-right: 0px;
}

.blockfort
{
 width: 350px;
 height: 250px;
 margin-block-start: 20px;
}

.imagesactivites2
{
 width: 350px;
 height: 200px;
}

.blockiles
{
 width: 350px;
 height: 250px;
 margin-block-start: 20px;
}

.imagesactivites3
{
 width: 350px;
 height: 200px;
}

.blockparc
{
 width: 350px;
 height: 250px;
 margin-block-start: 20px;
 margin-right: 0px;
}

.imagesactivites4
{
 width: 350px;
 height: 200px;
}

    .blocknotredameetlongchamp
    {
     width: 350px;
 height: 550px;
 
    }

.blocknotredame

{
 width: 350px;
 height: 250px;
 margin-block-start: 20px;
}

.imagesactivites5
{
 width: 350px;
 height: 200px;
}

.blocklongchamp
{
 width: 350px;
 height: 250px;
 margin-block-start: 20px;
}

.imagesactivites6
{
 width: 350px;
 height: 200px;
}

}

@media screen and (min-width: 800px) and (max-width: 1280px)
{

    .blockfortetiles {
margin-right: 0px;
    }

.blockparc {

    margin-right: 0px;
    margin-block-start: 30px;
}

.blocknotredameetlongchamp {

    margin-block-start: 30px;
}

.blocklongchamp {
    margin-block-start: 30px;
}


}

@media screen and (max-width: 800px)
{
    .activites {
        justify-content: center;
    }

}

@media screen and (min-width: 400px) and (max-width: 800px)

{

    .blockhotel {
        height: 350px;
    }


    .image {
        height: 250px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1280px) { 
    .imagesactivites2 {
        width: 350px;
    }
    .imagesactivites3 {
        width: 350px;
    }
    .blockfort {
        width: 350px;
    }
    .blockiles {
   
        width: 350px;
    }
    .activites { 
    margin-left: 15%;
 }
footer {
    margin-block-start: 38%;
}
}
@media screen and (min-width: 1280px) and (max-width: 1500px)

{

    .blocknotredameetlongchamp {
        margin-left: 130px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px)

{

    .blocknotredameetlongchamp {
        margin-left: 100px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1080px)
{ 
footer {
    margin-block-start: 50%;
}
 }

 @media screen and (max-width: 600px)
{ 
 .menu {
    display: flex;
    flex-direction: column-reverse;
}
.menuactivites:hover

{
    border-top: 0px solid transparent;
    border-bottom: 3px solid #707070;
}

.menuhebergements:hover

{
border-top: 0px solid transparent;
border-bottom: 3px solid #0065FC;
}
.menuhebergements {
    padding-bottom: 5px;
    padding-top: 40px;
    color: #0065FC;
    width: 170px;
    text-align: center;
    margin-block-start: -67px;
    margin-left: -100px;
}
.menuactivites{
color: black;
padding-top: 40px;
padding-bottom: 5px;
width: 170px;
text-align: center;
margin-left: 70px;
}
.menusinscrire {
color: #0065FC;
border-top: 2px solid transparent;
padding-top: 50px;
width: auto;
text-align: center;
margin-left: 100px;
}

.boutonrechercher {

    width: 30px;
}

#searchlarge

{
display: none;

}

#searchsmall

{
display: block;

}
 }

 @media screen and (min-width: 800px) and (max-width: 1080px)

 {


    .titresdesfiltres
  {
    margin-right: 5px;
    font-size: 10px;

  }  
 }

 @media screen and (max-width: 400px) 
 
 { 
 .blockvieuxport

{

display: flex;
flex-direction: column;
height: 200px;
width: 250px;
border-radius: 20px 20px 20px 20px;
background-color: white;
}

.imagesactivites1

{
height: 150px;
width: 250px;
border-style: solid;
border-radius: 20px 20px 0px 0px;
object-fit: cover;
border:0px solid transparent;
}

.blockfortetiles

{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
height: 450px;
margin-left: 0px;
margin-right: 20px;
}

.blockfort

{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 200px; 
    width: 250px;
}

.imagesactivites2

{width: 250px;;      
    border-style: solid;
 
    height: 150px;
    object-fit: cover;      
    border-radius: 20px 20px 0 0;
    border:0px solid transparent;
    

}

.blockiles

{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 200px;
}

.imagesactivites3

{width: 250px;;      
    border-style: solid;
    height: 150px;
    object-fit: cover;      
    border-radius: 20px 20px 0 0;
   
    border:0px solid transparent;
}


.blockparc

{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-right: 20px;
}

.imagesactivites4
{
    height: 150px;
    width: 250px;
    border-style: solid;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border:0px solid transparent;
    }

.blocknotredameetlongchamp

{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
height: 450px;
}

.blocknotredame

{
display: flex;
width: 250px;
flex-direction: column;
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 200px;
}

.imagesactivites5

{
width: 250px;;      
border:0px solid transparent;      
height: 150px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

.blocklongchamp

{
display: flex;
width: 250px;
flex-direction: column;
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 200px;
}

.imagesactivites6

{
width: 250px;;      
border: 0px solid transparent;      
height: 150px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

.blockdesactivites {
    flex-direction: column;
    align-items: baseline;
}

.hebergements {
    width: 94%;
    min-width: 280px;
 margin: 20px;
}

.populaires {
    width: 90%;
    height: auto;
    margin-left: 20px;
    min-width: 280px;
}

 }