/*
-------------
CSS
-------------
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


html

{      
font-family: "Raleway";
}

a

{
text-decoration: none;
}

.boxshadow

{
box-shadow: 0 0 20px #4241412e;
}

/*
-------------
Header 


Logo et Nav
-------------
*/

.logoetnav

{
display: flex;
justify-content: space-between;
width: 90%;
}

.logo

{
margin-left: 250px;
margin-block-start: 40px;
}

nav

{
font-size: 16px;
}

.menu

{
display: flex;
flex-direction: row;
}

.menuhebergements

{
border-top: 2px solid transparent;
padding-top: 40px;
color: #0065FC;
width: 150px;
text-align: center
}

.menuactivites

{
border-top: 2px solid transparent;
color: black;
padding-top: 40px;
width: 150px;
text-align: center
}

.menusinscrire

{
color: #0065FC;
border-top: 2px solid transparent;
padding-top: 40px;
width: 150px;
text-align: center
}

/*
-------------
Titre et description
-------------
*/

.trouvezhebergements

{
margin-left: 250px;
}

.descriptionhebergements

{
margin-left: 250px;
}

/*
-------------
Barre de recherche
-------------
*/

.barresearch

{
display: flex;
justify-content: flex-start;
margin-left: 250px;
margin-block: 20px;
}

.iconemap

{
border-width: 2px;
border: solid;
padding: 12px;
border-radius: 15px 0px 0px 15px;
background-color: #f2f2f2;
border-color:#f2f2f2;
}

input[type="search"]

{
width: 240px;
border-style: solid;
border-color: #f2f2f2;
font-weight: bold;
text-decoration: black;
}

.boutonrechercher

{
border-width: 2px;
border-style: solid;
border-color:#0065fc;
border-radius: 0px 20px 20px 0px;
padding: 12px;
background-color:#0065fc;
color: white;
font-weight: bold;
width: 100px;
}

/*
-------------
Filtres
-------------
*/

.filtreseticones

{
display: flex;
justify-content: flex-start;
}


.filtres

{
margin-left: 260px;
font-size: 18px;
font-weight: bold;
margin-block-start: 12px;
margin-right: 30px;
}

.iconesfiltres

{
 
display: flex;
justify-content: flex-start;
}

.contouriconesettitres

{
border-width: 2px;
border-style: solid;
border-color: #f2f2f2;
border-radius: 100px 100px 100px 100px; 
margin-right: 20px;
}

.iconecolor

{
border-width: 5px;
border-style: solid;
border-color: #deebff;
border-radius: 100px 100px 100px 100px; 
padding: 10px;
color: #0065FC;
background-color: #deebff;
font-size: 20px;
margin-right: 10px;
}

.titresdesfiltres

{
margin-right: 20px;
font-size: 18px;
font-weight: bold;
color: black;
}

/*
-------------

-------------
*/

i[class="fas fa-info-circle"]

{
font-size: 20px;
color: #0065FC;
}

.info

{
margin-left: 250px;
margin-block-start: 40px;
margin-block-end: 40px;
}

/*
-------------

-------------
*/

.blockhebergementetpopulaires

{
display: flex;
flex-wrap: wrap;
}

/*
-------------
Hébergements à Marseille
-------------
*/

.hebergements

{
background-color: #F2F2F2;
display: flex;
flex-wrap: wrap;
width: 900px;
height: 620px; 
margin-left: 250px;

border-radius: 20px 20px 20px 20px;
}

.hebergements-titre

{
display: flex;
margin-block-start: 50px;
align-items: flex-start;
margin-left: 40px;
font-size: 20px;
}


.blockhebergements

{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-block-start: -20px;
align-content: space-between;
}

.blockhotel

{
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 205px;
}

.image

{
width: 240px;      
border:5px solid white;      
height: 120px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

.nomdeshotels

{      
text-decoration: none;
font-size: 16px;  
margin-left: 15px;
color: black;   
font-weight: bold;   
margin-block-start: 15px;
}

.tarifs

{        
text-align: left;
font-size: 14px;
text-decoration: none;
margin-left: 15px;
color: rgb(0, 0, 0);
margin-block-start: 7px;
}

.bold

{
font-weight: bold;
}

.star

{
margin-left: 15px;
display: flex;
letter-spacing: 0px;
margin-block-start: 8px;
}

.blue-star

{
color:  #0065FC;
font-size: 12px;
}

.gray-star

{
color: #58575734;
font-size: 12px;
}

.afficherplus

{
margin-left: 40px;
margin-block-start: 30px;
font-weight: bold;
}

.boutonafficher

{
color: black;
}

/*
-------------
Les plus polulaires
-------------
*/

.populaires

{
background-color: #F2F2F2;
display: flex;
flex-wrap: wrap;
width: 21%;
height: 590px; 
margin-left: 40px;
padding: 15px;
border-radius: 20px 20px 20px 20px;
}

.populaires-titre

{
display: flex;
margin-block-start: 30px;
margin-left: 30px;
font-size: 20px;
font-weight: bold;
}

.icopopulaires

{
display: flex;
margin-block-start: 30px;
justify-content: end;
font-size: 25px;
margin-left: 140px;
}

.blockpopulaires

{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: space-between;
margin-block-end: 20px;
}

.blockhotelspopulaires

{
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 150px;
width: 350px;
}

.imagepopulaires

{

margin-block-start: -15px;
width: 130px;
border: 5px solid white;
height: 140px;
object-fit: cover;
border-radius: 20px 0px 0px 20px;
float: left;
}

.nomdeshotelspopulaires

{      
text-decoration: none;
font-size: 16px;  
margin-left: 155px;
color: black;   
font-weight: bold;   
margin-block-start: 15px;
}

.tarifspopulaires

{        
text-align: left;
font-size: 14px;
text-decoration: none;
margin-left: 15px;
color: rgb(0, 0, 0);
margin-block-start: 7px;
margin-left:155px;
}

.starpopulaires

{
display: flex;
margin-left: 155px;
letter-spacing: 0px;
margin-block-start: 50px;
}

/*
-------------
Activités à Marseille
-------------
*/

.activites

{
background-color: white;
display: flex;
flex-wrap: wrap;
width: 80%;
height: 620px; 
margin-left: 250px;
margin-block-start: 50px;
border-radius: 20px 20px 20px 20px;
}

.blockdesactivites

{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;;
    width: 90%;
}

.blockvieuxport

{

display: flex;
flex-direction: column;
height: 450px;
width: 300px;
border-radius: 20px 20px 20px 20px;
background-color: white;
}

.imagesactivites1

{
height: 400px;
width: 300px;
border-style: solid;
border-radius: 20px 20px 0px 0px;
object-fit: cover;
border:0px solid transparent;
}

.blockfortetiles

{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
height: 450px;
margin-left: 20px;
}

.blockfort

{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 250px; 
}

.imagesactivites2

{width: 300px;;      
    border-style: solid;
 
    height: 200px;
    object-fit: cover;      
    border-radius: 20px 20px 0 0;
    border:0px solid transparent;
    

}

.blockiles

{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 170px;
}

.imagesactivites3

{width: 300px;;      
    border-style: solid;
    height: 120px;
    object-fit: cover;      
    border-radius: 20px 20px 0 0;
   
    border:0px solid transparent;
}


.blockparc

{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-right: 20px;
}

.imagesactivites4
{
    height: 400px;
    width: 300px;
    border-style: solid;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border:0px solid transparent;
    }

.blocknotredameetlongchamp

{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
height: 450px;
}

.blocknotredame

{
display: flex;
width: 300px;
flex-direction: column;
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 200px;
}

.imagesactivites5

{
width: 300px;;      
border:0px solid transparent;      
height: 150px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

.blocklongchamp

{
display: flex;
width: 300px;
flex-direction: column;
background-color: white;
border-radius: 20px 20px 20px 20px;
height: 200px;
}

.imagesactivites6

{
width: 300px;;      
border: 0px solid transparent;      
height: 150px;
object-fit: cover;      
border-radius: 20px 20px 0 0;
margin-block-end: -15px;    
}

/*
-------------
Footer
-------------
*/

footer

{
margin-left: 200px; 
width: 1480px;
height: 200px;
background-color:rgba(44, 40, 40, 0.082);
}

.allblockfooter

{
display: flex;
width: 1480px;
height: 200px;
flex-direction: row;
margin-left: 40px;
}

.blockfooter

{
flex-direction: column;
display: flex;
margin-right: 250px;
justify-content: flex-start;
line-height: 30px;
padding: 10px;
color: black;
}

.titrefooter

{
font-size: 18px ;
}


.colonnefooter

{
flex-direction: column;
display: flex;
}

.textefooter

{
color: black;
}

/*
-------------
Animations
-------------
*/

.contouriconesettitres:hover

{
background-color: #deebff;
transform: scale(1.1);
}

.blockhotel:hover

{
transform: scale(1.1);
}

.menuactivites:hover

{
border-top: 2px solid #0065FC;
}

.menuhebergements:hover

{
border-top: 2px solid #0065FC;
}

.menusinscrire:hover

{
border-top: 2px solid #0065FC;
}

.blockhotelspopulaires:hover

{
transform: scale(1.1);
}

.blockvieuxport:hover

{
transform: scale(1.1);
}

.blockfort:hover

{
transform: scale(1.1); 
}

.blockiles:hover

{
transform: scale(1.1);
}
   
.blockparc:hover

{
transform: scale(1.1);
}

.blocknotredame:hover

{
transform: scale(1.1);
}

.blocklongchamp:hover

{
transform: scale(1.1);
}

/*
-------------
Responsive
-------------
*/

@media screen and (max-width: 3000px)

{
   .logoetnav
   {
   width: 90%;
   max-width: 1800px;
   }
}

@media screen and (max-width: 3000px)

{
   .activites
   {
   max-width: 1500px;
   }
}

@media screen and (max-width: 3000px)

{
   .populaires
   {
   width: 90%;
   max-width: 400px;
   }
}


@media screen and (min-width: 877px) and (max-width: 1860px)

{
    .populaires
    {
    margin-block-start: 200px;
    margin-left: 250px;
    }
 }

 @media screen and (min-width: 877px) and (max-width: 1860px)

 {
     .hebergements
     {
     height: 800px;
     margin-block-start: 200px;
     margin-left: 250px;
     }
  }

  @media screen and (min-width: 877px) and (max-width: 1745px)

  {
      footer
      {
      margin-block-start: 400px;
      margin-left: 250px;
      }
   }



 @media screen and (max-width: 877px)

 {
    .blockdesactivites
    {
    flex-direction: column;
    margin-block-start: 100px;
    margin-left: -300px;
    }
 }

@media screen and (max-width: 877px)

{
   .hebergements
   {
   margin-block-start: 50px;
   background-color: transparent;

   }
}

@media screen and (max-width: 877px)

{
   .blockhotel
   {
   width: 350px;
   margin-block-start: 20px;
   flex-direction: column;
   }
}


@media screen and (max-width: 877px)

{
   footer
   {
   height: 500px;
   width: 400px;
   margin-block-start: -1100px;
   }
}
@media screen and (max-width: 877px)

{
   .activites
   {
   display: flex;
   flex-direction: column;
   margin-block-start: 1000px;
   width: 1000px;
   height: 1000px;
   }
}


@media screen and (max-width: 877px)

{
   .blockhebergementetpopulaires
   {
   display: flex;
   flex-wrap: wrap-reverse;
   }
}
@media screen and (max-width: 877px)

{
   .allblockfooter
   {
   display: flex;
   flex-direction: column;
   margin-block-start: 500%;
   }
}

@media screen and (max-width: 877px)

{
   .populaires
   {
   margin-left: 250px;
   width: 355px;

   }
}

@media screen and (max-width: 877px)

{
   .blockvieuxport
   {
    width: 350px;
    height: 250px;
    margin-block-start: 20px;
   }
}


@media screen and (max-width: 877px)

{
   .imagesactivites1
   {
    width: 350px;
    height: 200px;
   }
}


@media screen and (max-width: 877px)

{
   .blockfortetiles
   {
    width: 350px;
    height: 600px;
    margin-left: 0px;
    justify-content: space-evenly;
   }
}


@media screen and (max-width: 877px)

{
   .blockfort
   {
    width: 350px;
    height: 200px;
    margin-block-start: 20px;
   }
}

@media screen and (max-width: 877px)

{
   .imagesactivites2
   {
    width: 350px;
    height: 200px;
   }
}


@media screen and (max-width: 877px)

{
   .blockiles
   {
    width: 350px;
    height: 250;
    margin-block-start: 20px;
   }
}


@media screen and (max-width: 877px)

{
   .imagesactivites3
   {
    width: 350px;
    height: 200px;
   }
}


@media screen and (max-width: 877px)

{
   .blockparc
   {
    width: 350px;
    height: 250px;
    margin-block-start: 20px;
   }
}


@media screen and (max-width: 877px)

{
   .imagesactivites4
   {
    width: 350px;
    height: 200px;
   }
}


 @media screen and (max-width: 877px)

    {
       .blocknotredameetlongchamp
       {
        width: 350px;
    height: 550px;
    
       }
    }

@media screen and (max-width: 877px)

{
   .blocknotredame

   {
    width: 350px;
    height: 250px;

   }
}


@media screen and (max-width: 877px)

{
   .imagesactivites5
   {
    width: 350px;
    height: 250px;

   }
}


@media screen and (max-width: 877px)

{
   .blocklongchamp
   {
    width: 350px;
    height: 250px;

   }
}



@media screen and (max-width: 877px)

{
   .imagesactivites6
   {
    width: 350px;
    height: 200px;

   }
}

@media screen and (max-width: 877px)

{
   .filtres
   {
    margin-left: 0px;
   }
}

@media screen and (max-width: 877px)

{
   .iconesfiltres
   {
   flex-direction: column;
   }
}

@media screen and (max-width: 877px)

{
   .filtreseticones
   {
    flex-wrap: wrap;
   }
}

@media screen and (max-width: 877px)

{
   .image
   {
  width: 340px;
   }
}